.root {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.create-user-login-form {
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  padding: 16px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 25%;
  height: fit-content;
  justify-content: space-around;
  gap: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.create-user-login-form h1 {
  font-size: xx-large;
  margin: 0px auto;
  margin-bottom: 10px;
}

.create-user-login-form input {
  padding: 10px;
  margin-top: 4px;
  margin: 10px 0;
}

.create-user-account-button-container button {
  padding: 10px;
}

.login-button {
  width: 100%;
  margin: 10px 0;
}
